
#logout{
color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;
}
body {
    font-family: 'Open Sans', sans-serif;
    
}

 #wrapper {
    position: relative;
    width: 100%;
    background:#202020;
    min-width: 1700px;
}

#page-wrapper {
    
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    background-color:#fff!important;
    padding:0px;
    height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}

.navbar-cls-top .navbar-brand {
color: #fff;
font-size: 30px;
font-weight: 700;

}

.sidebar-collapse , .sidebar-collapse .nav{
	background:none;
}

.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
    text-decoration: none;
   
	
}
.sidebar-collapse > .nav > li > a {
	padding:15px;
   
}

.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
	
	background:#0A0A0A;
	outline:0;
}
.sidebar-collapse{
    margin-top: 15px;
    height: 60px;
    text-align: center;
}


.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
	
}

.nav > li > a > i {
    margin-right:10px;
}
ul{
    margin: 0;
    padding :0;
    list-style: none; 
    display: inline-block !important;
}

.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}



